.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
  max-height: 500px;
  overflow-y: auto;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.nav-item .react-autosuggest__suggestions-container--open {
  right: 0;
}

:root {
  --sell: rgb(31, 119, 180);
  --buy: rgb(255, 127, 14);
  --negative: #ffdcdc;
  --positive: #dbf6db;
}

html,
body,
#root {
  height: 100%;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

.navbar-nav {
  margin-right: auto;
}

.config .item {
  display: flex;
  margin: 10px 0;
}

.config .item .btn {
  margin-left: 10px;
}

.main .item {
  display: flex;
}

.main .item div {
  margin-left: 10px;
}

td a {
  display: block;
}

.sticky-bottom {
  position: sticky;
  bottom: 0;
}

.btn.sticky-bottom {
  float: right;
}

.title {
  display: flex;
  align-items: center;
  flex-flow: wrap;
}

.title > div,
.info > div {
  margin-right: 5%;
}

.info {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  max-width: 450px;
}

#chart {
  height: 400px;
}

.itemDetails {
  margin: 20px;
}

.itemDetails .row .col div {
  margin: 5px;
}

tr.hover:hover {
  cursor: pointer;
  background-color: rgb(235, 235, 235);
}

.btn-group .btn[active] {
  background-color: var(--gray-dark);
}

.title .icon img {
  transform: scale(1.5) translateX(10px);
}

.positive {
  background-color: var(--positive);
}

.negative {
  background-color: var(--negative);
}

.prices .col > div,
.volumes .col > div {
  display: inline-block;
}

@media (max-width: 580px) {
  .prices .col,
  .volumes .col {
    min-width: 100%;
  }
}

#sets a,
#sets a:hover,
#sets a:visited {
  color: #212529;
}

.link {
  display: flex;
  align-items: center;
  color: #007bff;
}

.link:hover *:is(i, a) {
  text-decoration: underline;
  color: #0056b3;
  white-space: nowrap;
}

.link > *:not(*:first-child) {
  margin-left: 0.5rem;
}

.info.links {
  max-width: 250px;
}

.fixed-action-btn {
  position: fixed;
  bottom: 10px;
  right: 0;
}

table.table .link {
  color: #007bff;
}

.item-name {
  font-weight: 400;
}

a.item-name:hover {
  text-decoration: underline;
}

.alert {
  border: 0;
  margin-bottom: 0;
}

.dropdown-menu.animated {
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
}

.dropdown-item:focus,
.dropdown-item:hover {
  transition: none;
}

.w-33 {
  width: 33%;
}

.min-w-33 {
  min-width: 33%;
}

.hover-text-danger:hover {
  color: #ff3547 !important;
  cursor: pointer;
}

.accordion .card-header {
  cursor: pointer;
}

.heading td,
.heading + tr td {
  border: 0;
}

table.table .heading td {
  padding: 0;
}

.table h4 {
  margin: 0;
}

.text-profit {
  color: #007b32 !important;
}

.overflow-x-scroll {
  overflow-x: auto;
}

.nowrap {
  white-space: nowrap;
}

.flex-wrap {
  flex-wrap: wrap;
}

