:root {
    --sell: rgb(31, 119, 180);
    --buy: rgb(255, 127, 14);
    --negative: #ffdcdc;
    --positive: #dbf6db;
}

.config .item {
    display: flex;
    margin: 10px 0;
}

.config .item .btn{
    margin-left: 10px;
}

.main .item {
    display: flex;
}

.main .item div {
    margin-left: 10px;
}

td a{
    display: block;
}

.sticky-bottom{
    position: sticky;
    bottom: 0;
}

.btn.sticky-bottom{
    float: right;
}
header {
    height: 3rem;
    display: flex;
    justify-content: start;
    align-items: center;
    box-shadow: 0px -4px 7px 0px;
}

header > *{
    display: flex;
    margin: 10px;
}

.title{
    display: flex;
    align-items: center;
    flex-flow: wrap;
}

.title > div, .info > div{
    margin-right: 5%;
}

.info {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    max-width: 450px;
}

#chart{
    height: 400px;
}

.itemDetails {
    margin: 20px;
}

.itemDetails .row .col div {
    margin: 5px;
}

tr.hover:hover{
    cursor: pointer;
    background-color: rgb(235, 235, 235);
}

.btn-group .btn[active]{
    background-color: var(--gray-dark);
}

.title .icon img{
    transform: scale(1.5) translateX(10px);
}

.positive{
    background-color: var(--positive);
}

.negative{
    background-color: var(--negative);
}

.prices .col > div,
.volumes .col > div{
    display: inline-block;
}

@media (max-width:580px) {
    .prices .col,
    .volumes .col{
        min-width: 100%;
    }
}

#sets a, #sets a:hover, #sets a:visited{
    color: #212529;

}

.link{
    display: flex;
    align-items: center;
    color: #007bff;
}

.link:hover *:is(i, a){
    text-decoration: underline;
    color: #0056b3;
    white-space: nowrap;
}

.link > *:not(*:first-child){
    margin-left: 0.5rem;
}

.info.links{
    max-width: 250px;
}