

body{
    align-items: flex-end;
}

.menu{
    display: flex;
    background-color: white;
    margin-bottom: 100px;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.4);
    border: 1px solid grey;
}

button{
    background: none;
    border: none;
    background-color: slateblue;
    height: 2em;
    color: white;
    border-radius: 999px;
    border: 1px solid rgb(79, 68, 151);
}

button:hover {
    filter: brightness(70%);
    -webkit-filter: brightness(70%);
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    
    cursor: pointer;
}


button.generate{
    margin-top: 10px;
}


form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
}

form .generate,
form .title{
    grid-column: span 2;
}

input[type="checkbox"]{
    height: 1em;
}







