html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
    font-family: 'Montserrat', serif;
    font-size: 20px;
}

.center{
	display: flex;
	align-self: center;
	width: 100%;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.linkWrapper{
	width: 100%;
}

#links{

	height: auto;
}

#welcome{
	height: auto;
	width: 100%;
	font-size: 32px;
	color: #232F34;
}

a {
	display: inline-block;
	background-color: #344955;
	border: 1px solid #232F34;
	color: rgb(167, 188, 199);
	padding: 30px;
	vertical-align: middle;
	margin-left: 10px;
	width: 150px;
	text-align: center;
	border-radius: 5px;
	text-decoration: none;
	box-shadow: 1px 1px 10px -1px #00000085;
}

a:hover {
	color: #F9AA33
}