html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

header {
  padding: 25px;
  background-color: dodgerblue;
  color: white;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.menuItem {
  display: flex;
}

#cubeArea {
  height: 100%;
  width: 100%;
  overflow: hidden;

  background-color: azure;
}

.cube {
  height: 50px;
  width: 50px;
  position: absolute;

  background-color: cornflowerblue;
}
