




.gift {
    height: 100%;
    width: 100%;    
    display: flex;
    position: absolute;
    top: 0;
    z-index: 2;
}


.gift .paper {
    width: 50%;
    height: 100%;
    background-color: #a0000e;
    z-index: -1;
    transition: transform 2s;
}

.paper.left {
    border-right: 1px solid #00000063;
    transform-origin: left;
}

.paper.right {
    position: absolute;
    right: 0;
    transform-origin: right;
}

body:hover .paper,
.gift.open .paper{
    transform: scaleX(0);
    transition: transform 2s 1.5s;
}

.wrapper{
    background-color: #29560d;
    display: block;
    position: absolute;
    box-shadow: 0px 0px 7px 0px #00000082;
    transition: transform 2s;
}

body:hover .wrapper,
.gift.open .wrapper{
    transition: transform 2s;
}

.wrapper.horizontal{
    width: 100%;
    top: 50%;
    padding: 70px 0;
    margin-top: -70px;
    transform-origin: left;
}

.wrapper.vertical{
    height: 100%;
    left: 50%;
    padding: 0 70px;
    margin-left: -70px;
    transform-origin: top;
}

body:hover .gift .wrapper.horizontal,
.gift.open .wrapper.horizontal{
    transform: scaleX(0);
}

body:hover .gift .wrapper.vertical,
.gift.open .wrapper.vertical{
    transform: scaleY(0);
}

.gift.open{
    z-index: -1;
}

.gift.open button {
    display: none;
}




