
:root{
    --rotate-size: 25px;
}

@font-face {
  font-family: party;
  src: url(Party-Lights-WLM.ttf);
}


body {
    padding: 0;
    background: #e8e8e8;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

.regards{
    font-family: 'Bad Script', cursive;
}

div{
    box-sizing: border-box;
}

p, h1, h2{
    padding: 0;
    margin: 0;
}

h1{
    font-size: 5em;
}

h2{
    font-size: 2.5em;
}

p{
    font-size: 1.5em;
}

button{
    background-color: rgba(240, 248, 255, 0.178);
    border: none;
    border-radius: 999px;
    padding: 5px 10px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    border: 1px solid rgba(128, 128, 128, 0.377);
}

button:hover {
    filter: brightness(70%);
    -webkit-filter: brightness(70%);
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    cursor: pointer;
}

button:focus {outline:0;}


.background {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.background .img{
    z-index: 1;
    height: 100%;
    width: auto;
    min-width: 100%;
    overflow: hidden;
}

.background > .img img{
    filter: blur(5px);
    min-width: 100%;
    
}

.box {
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px #00000040;
    background-color: white;
    width: 85%;
    height: 85%;
    overflow: hidden;
    position: absolute;
    z-index: 3;   
}

.box .img {
    border-radius: 5px;

}

.box img {
    position: absolute;
    top: -23%;
    max-width: 100%;
    height: auto;
}


.box .borders {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    width: 70%;
    height: 60%;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.content{
    color: gray;
    position: relative;
    top: 33%;
    background-color: white;
    width: 100%;
    height: 67%;
    box-shadow: 0px 2px 3px 5px white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 60px 100px;
}





.separator{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.separator:after{
    width: 100%;
    height: 50%;
    content: "";
    left:0;
    top:0;
    position: absolute;
    border-bottom: 1px solid grey;
}

.rotate{
    background-color: white;
    z-index: 2;
    border-radius: 99px;
    height: 32px;
    width: 32px;
}

.rotate .icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rotate {
    animation-name: rotate; 
    animation-duration: 5s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.icon {
    width: 100%;
    height: 100%;
    font-size: var(--rotate-size);
}

.floating{
    position: absolute;
    bottom: 0;
}

.centerX{
    width: 100%;
    display: flex;
    justify-content: center;
}