body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    -webkit-user-drag: none;
}

svg{
    -webkit-user-drag: none;   
}

*{
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}


.forceWrapper{
    display: flex;
    width: 400px;
    height: 400px;
    background: red;
}

.forceObject{
    width: 50px;
    height: 50px;
    background: black;
    color: white;
    position: relative;
    border-radius: 100%;

}

.extraToggle{
    padding: 10px;
}

.extras{
    display: flex;
    padding-top: 10px;
}

.settings button{
    width: 100%;
}

.form-group{
    padding-top: 10px;
    display: block;
    width: 100%;   
}

.form-group div{
    display: inline-block;
    vertical-align: middle;
}

.form-group input{
    padding: 0;
    width: calc(100% - 4px);
}

.form-group .checkBox{
    width: auto;
    padding-top: auto;
}

label{
    display: flex;
    align-self: center;
}

.slider{
    width: 100%;
}

.checkBox {
    padding: auto;
}

.info{
    padding-left: 10px;
}
