html, body{
    margin: 0;
    height: 100%;
}

body {
    background: linear-gradient( 0deg, rgb(54, 18, 78), rgb(165, 77, 161));
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sun {
    margin: auto;
    width: 25%;
    min-width: 150px;
    background: radial-gradient(rgb(235, 152, 0), rgb(165, 138, 91));
    border-radius: 999px;
    box-shadow: 0px 0px 20px 9px rgb(165 77 161);
    position: relative;
    overflow: hidden;
}

.sun:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.lines {
    position: absolute;
    width: 100%;
    height: calc(100% + 36px);
    background-color: violet;
    background: repeating-linear-gradient(
        0deg,
        transparent,
        transparent 15px,
        #465298 17px,
        #465298 18px, 
        transparent 19px
      );

    animation-duration: 1s;
    animation-name: translate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes translate {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-19px);
    }
}
