*{
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */      
}

html{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

body{
    padding: 0;
    margin: 0;
    height: 100%;
}

div{
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

h1, p {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

h1{
    font-size: calc(1.5vw + 10px);
}


.main{
    display: block;
    height: 100%;;
}

.mainBg{
    width: 100%;
    height: 100%; 
    justify-content: center;
}

.header{
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: darkslategray;
    color: white;
    height: 7vh;
    padding: 0 10px;
    margin: 0;  
}

.header h1{
    margin: 0;
    padding: 0;
}











.burger{
    left: 10px;
    top: 0px;
    display: inline-block;
    width: 30px;
    transition: 100ms ease;
    cursor: pointer;
}

.burger.active{
    transform: rotate(90deg);    
}

.burger div{
    display: block;
    width: 100%;
    height: 5px;
    margin: 0;
    margin-top: 5px;
    background-color: white;
    border-radius: 2.5px;
    
}

.burger > div:first-child{
    margin: 0;
}

.sideBarContainer{
    position: absolute;
    right: 0px;
    top: 7vh;
    height: 93vh;
    width: 50vw;
    transform: scale(0, 1);
    transform-origin: 100% 0%;
    transition: 100ms ease;
    max-width: 600px;
}

.sideBarContainer.active{
    transform: scale(1, 1);    
}

.sideBarWrapper{
    background-color: darkslategray;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.navItem{
    height: 10vh;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
}

.navItem:hover{
    opacity: 0.9;
    background-color: rgba(255, 255, 255, 0.13);
    transition: 100ms ease;
}

.navItem div{
    width: unset;
}

.sideBarWrapper a{
    color: white;
    text-decoration: none;
}

.sideBarWrapper a:visited{
    color: white;
}

.offensiveToggleDisplay{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.offensiveToggleDisplay .first{
    position: relative;
    top: 25%;
    transform-origin: top;
}

.offensiveToggleDisplay .second{
    position: relative;
    top: -25%;
    transform-origin: bottom;
}

.offensiveToggleDisplay .toggle{
    margin: 0;
    transform: scale(1, 0);
    transform-origin: (0%, 0%);
    transition: 100ms ease;
}

.offensiveToggleDisplay .toggle.active{
    transform: scale(1, 1);
    transition: 100ms ease;
}





















/*Calendar*/

.calendarContainer{
    max-width: 1200px;
    width: 100%;
    padding: 10px;
}

.calendarWrapper{
    width: 100%;
    min-height: 0;  
}

.calendar{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(0,1fr));
    grid-gap: 2px;
}


.calendar > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.calendarElementWrapper{
    display: inline-block;
    background-color: rgba(226, 226, 226, 0.61);
    transition: background-color 0.2s ease;
    
    
}


.calendarElementWrapper:hover{
    background-color: gainsboro;
    transition: background-color 0.2s ease;
    cursor: pointer; 
    
}

.calendarElementContent:after{
    content: "";
    display: inline-block;
    vertical-align: middle;  /* Align inline level elements vertically */
    height: 100%;
    
}

.calendarElementContent{
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    border: 1px solid darkslategray;
    padding: 0px 5px;
    
}

.calendarElementInner{
    display: inline-block;
    vertical-align: middle;
    font-size: calc(1.5vw + 10px);
    text-align: center;
    width: 100%;
    color: darkslategray;
}

















.popupBg{
    display: none;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(173, 173, 173, 0.144);
    justify-content: center;
    align-items: center; 
}

.visible{
    display: flex;
    opacity: 1;
    transition: opacity 3s;
}

.popupContainer{
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 1000px;
    max-height: 500px;
    margin: 10px;
}

.popupWrapper{
    display: flex;

    /*background-color: rgba(179, 201, 201, 0.733);*/
    background-color: rgba(243, 243, 243, 0.74);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.178) 0px 0px 10px 2px;
    padding: 20px;
}

.popup{
    flex-direction: column;
    justify-content: space-between;
    
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.popup a, .popup p{
    display: inline;
    margin: 0;
}

.popupHeader{
    flex-direction: column;
    text-align: center;
    color: darkslategray;
    border-bottom: darkslategray 1px solid;
    padding-bottom: 20px;
}

.popupContent{ 
    justify-content: center;
    text-align: center;
    color: darkslategray;
}

.popupContent p{ 
    display: inline;

}

.popupLinkContainer{
    
    text-align: center;
    color: darkslategray;
    border-top: darkslategray 1px solid;

}

.popupLink{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    color: darkslategray;
    padding-top: 20px;
}

.popupLink *{
    display: flex;
    margin: 0;
}

.popupLink a{
    margin-left: 5px;
}





.blur{
    filter: blur(8px);
    -webkit-filter: blur(8px);
}



.loading{
    width: 100%;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation:fade 1.5s ease infinite alternate;
}

.loading p{
    margin: 5px 0px;
    color: darkslategray;
}


@keyframes fade {
    100%{
        opacity: 1;
    }

    0%{
        opacity: 0;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .popupLink{
        flex-direction: column;
        text-align: center;
    }
    .popupLink a, .popupLink p{
        display: inline;
        margin: 0;
        text-align: center;
    }
  }