<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>

  <div class = "center">
    <div class = "block">
        <div class = "linkWrapper">
          <% apps.forEach(app => { %>
            <a href="/<%=app%>"><%=app%></a>
          <% }); %>
        </div>    
        
        <div id="welcome">
            <p>Select your playground</p>
        </div>
    </div>           
</div>

</body>
</html>