:root {
  --main-bg-color: gray;
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  -webkit-user-drag: none;
}

html {
  height: 100%;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(48, 48, 48);
  overflow: hidden;
}

/*
header{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    text-align: center;
    color: var(--main-bg-color);
    font-family: 'Montserrat', serif;
    font-size: 45px;
}
*/

#fps {
  position: fixed;
  left: 0;
  top: 0;
  color: lightgreen;
  width: 100px;
  height: 50px;
}

.hitBoxWrapper {
  /*
    transition:left 60ms linear;
    transition:top 60ms linear;
    -webkit-transition:left 33ms linear;
    -webkit-transition:top 33ms linear;
    */
  background-image: url('bg.png');
  background-size: cover;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(48, 48, 48);
  overflow: hidden;
  z-index: -1;
}

.bg-img {
  width: 100%;
  object-fit: contain;
}

.hitBoxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 100px);
  width: calc(100% - 30px);
  margin-left: 15px;
  margin-top: 50px;
  z-index: 2;
  /*
    height: 90%;
    width: 90%;
    margin: 0;
    */
}

#wrapperRefresh {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--main-bg-color);
  z-index: -10;
}

.hitBoxObject.circle {
  position: absolute;
  width: 150px;
  height: fit-content;
  z-index: 1;
  /*
    padding: 25px;
    */
}
.objectImg {
  width: 100%;
  height: 100%;
  /*height: 100px;
    width: 100px;
    background: gray;
    margin: 25px;
    */
  width: 100%;
}

.functionality {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subFunctionality {
  display: flex;
  align-self: center;
}

.stats {
  color: white;
}

.flip {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
