html{
  margin: 10px
}

p, h2, h3, h4, h5{
  margin-top: 0;
}

body{
  margin: auto;
  max-width: 560px;
}

#players p {
  margin-bottom: 0;
}

#players div {
  margin-bottom: 10px;
}

#players input[type="number"] {
  max-width: 60%;
  margin-bottom: 5px;
  display: inline-block;
}

#status {
  display: inline;
}

#players input[type="text"]{
  display: inline-block;
  margin-bottom: 10px;
}

input[type="submit"] {
  float: right
}

.margin-top-base{
  margin-top: 10px
}

.margin-top-l{
  margin-top: 20px
}

.max-width40 {
  max-width: 40%;
}

.inline{
  display: inline;
}

.btn-check {
  display: none;
}

.btn-check+.btn{
  color: white;
  background-color: var(--danger);
}

.btn-check:checked+.btn{
  background-color: var(--success);
}

.card{
  padding: 10px;
  box-shadow: none;
  border: 1px solid gainsboro;
}

#players label{
  margin-bottom: 0;
}

label[error]::after{
  content: attr(error);
  color: var(--danger);
}

label[error] + input{
  color: var(--danger);
  border-color: var(--danger);
}

.error{
  color: var(--danger)
}