
/*Directory*/

/*
0 root
1 resets
2 common classe
3 common elements
    2.1 header
4 custom elements
    2.1 days
*/

/*== 1 root =================*/

:root{
    --color-primary: #620062;
    
    --color-neutral-0: #ffffff;
    --color-neutral-1: #ececec;
    --color-neutral-2: #cfcfcf;
    --color-neutral-3: #b1b1b1;
    --color-neutral-4: #7e7e7e;
    --color-neutral-5: #4e4e4e;
    --color-neutral-10: #000000;

    --space-s: 5px;
    --space-base: 10px;
    --space-m: 15px;
    --space-l: 20px;

}


/*===========================*/

/*== 1 resets ===============*/

body,html{
    margin:0;
    font-family: 'Open Sans', sans-serif;
    height: 100vw;
}

p{
    margin: 0;
}

*{
    box-sizing: border-box;
}

ul li{
    list-style: none;
}



a, a:visited{
    color: var(--color-primary);
    text-decoration: none;
}

a:hover, a:visited:hover{
    text-decoration: underline;
}
/*
::-webkit-scrollbar { 
    display: none; 
}*/

/*== 2 common classes=======*/

.full-width{
    width: 100%;
}

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.center{
    align-items: center;
    justify-content: center;
}

.inline{
    display: inline-block;
}


.margin-top-base{
    margin-top: var(--space-base);
}

.margin-right-base{
    margin-right: var(--space-base);
}

.justify-center{
    justify-items: center;
}

.align-center{
    align-items: center;
}

.primary{
    color: var(--color-primary);
}

/*===========================*/



/*== 3 common elements ======*/

/*** 3.1 header **************/

header{
    position: fixed;
    top: 0;
    height: 7vh;
    width: 100vw;
    padding: 0 10px;
    --burger-color: var(--color-primary);
    border-bottom: 1px solid var(--color-neutral-4);
    background-color: var(--color-neutral-0);
    color: var(--color-primary);
    z-index: 100;
}

.header-content{
    height: 100%;
    justify-content: space-between;
    align-items: center;
}


/*****************************/

/*** 3.2 sidebar *************/

.sideBarContainer{
    width: 50vw;
    max-width: 600px;
    position: fixed;
    top: 7vh;
    height: 93vh;
}

.sideBarContainer{

    right: 0;
    overflow: hidden;
}

.sideBarContainer.active .sideBarWrapper{
    transform: scale(1,1);       
}

.sideBarWrapper{
    background-color: var(--color-primary);
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: scale(0,1);
    transform-origin: 100% 0%;
    transition: 100ms ease; 
}

.sideBarWrapper *{
    color: var(--color-neutral-0);
    text-decoration: none;
}

.sideBarWrapper > *{
    text-align: center;
}

.sidebarBg{
    position: absolute;
    top: 0;
    left: -100%;
    width: 100vw;
    height: 100%;
    z-index: -1;
    transform: scale(0, 1);
}



.sideBarContainer.active .sidebarBg{
    transform: scale(1, 1);
}

/*****************************/

/*** 3.3 burger **************/

.burger{
    left: 10px;
    top: 0px;
    display: inline-block;
    width: 30px;
    transition: 100ms ease;
    cursor: pointer;
}

.burger.active{
    transform: rotate(90deg);    
}

.burger div{
    display: block;
    width: 100%;
    height: 5px;
    margin: 0;
    margin-top: 5px;
    background-color: black;
    background-color: var(--burger-color);
    border-radius: 2.5px;   
}

.burger > div:first-child{
    margin: 0;
}

/*****************************/
/*===========================*/

/*== 4 custom elements ======*/

/*** 4.1 days ****************/

.daysContainer{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    padding-right: var(--space-base);
}

.sideBarContainer.active .daysContainer{
    background-color: rgba(51, 51, 51, 0.233);
}

.days{

}

.day{
    color: var(--color-primary);
    margin-top: var(--space-base);
    padding-left: var(--space-base);
    cursor: pointer;
    border-left: 2px solid transparent;
    
}

.day.selected{
    font-weight: bold;
    border-left: 2px solid var(--color-primary);
}



/*****************************/

.staticContent{
    display: flex;
    justify-content: flex-end;
}

/*===========================*/

.mainContent{

    margin: var(--space-base);
    margin-top: 7vh;
    overflow: scroll;
    width: calc(100% - 55px);
}

.mainContent h1{
    color: var(--color-neutral-5);
}

.mainContent i{
    color: var(--color-neutral-4);
    width: 15px;
}

.mainContent .title{
    display: flex;
    align-items: flex-end;
}

#day, #location{
    display: flex;
}

#day{
    color: var(--color-neutral-5);
    font-size: 2em;
    font-weight: bold;
}

#location{
    margin-bottom: 3px;
}

#stay, #address{
    display: block;
    margin-left: calc(15px + var(--space-base));
    font-weight: 600;
}

.row{
    display: flex;
}

.activities{
    margin-top: var(--space-l);
}

.subActivity{
    margin-top: var(--space-base);
}

.row > *:not(:first-child){
    margin-left: var(--space-base);
}

.subActivity #time{
    font-weight: 600;
}

.subActivity #location{
    display: block;
    margin-left: calc(1em + var(--space-base));
}

.subActivity:not(:last-child) .spacer{
    margin: 7px;
    height: var(--space-base);
    border-left: 1px solid var(--color-primary);
}