
html{
    font-family: 'Montserrat', sans-serif;
}

input, button{
    font-family: inherit;
}

button{
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.452);
}

.labels{
    border-bottom: 0.5px solid black;
    display: inline-block; 
    margin-bottom: 10px;
    padding-bottom: 1px;
    
}

.labels input{
    border: 2px solid white;
    cursor: default;
}

.labels textarea:focus, .labels input:focus{
    outline: none;
}

.hourForm{
    padding-bottom: 10px;
}

.hourForm input,
.hourForm button,
.labels input{
    padding: 5px 5px;
}



.hourForm button{
    padding: 5px 10px;
    border-radius: 5px;

    width: 100px
}

button:hover {
    filter: brightness(65%);
    cursor: pointer;
}

.start{
    border: solid 1px darkgreen;
    background-color: #388e3cd0
}

.stop{
    border: solid 1px darkred;
    background-color: #e64919cc
}

.newBtn{
    background-color: rgb(235, 235, 235);
    border: 0.5px solid black;
    border-radius: 5px;
    padding: 5px 10px;
}

.newBtn:hover{
    filter: brightness(75%); 
      
}